* {
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
body {
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}
header {
    color:#fff;
    text-align: center;
}
.headline {
    font-size:5vw;
    margin-top:5vw;
}
header p {
    padding-top:1vw;
}
.sub-text{
    font-size:1.5vw;
}

.cards-background {
    margin: 6vw 0.5vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    position:relative;
    max-height: fit-content;
}

.card-toFlip {
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    text-align: center;
    height:100%;
    width: 100%;
}

.card-toFlip .card-back {
    position: absolute;
    left: 3%;
    margin: 0vw 0.5vw;
    border-radius:0.5vw;
    width:130px; 
    height:190px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card-toFlip.is-flipped{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
}
.card-toFlip .card-front {
    position: absolute;
    border-radius:0.5vw;
    transform:rotateY(180deg);
    left: 3%;
    margin: 0vw 0.5vw;
    width:130px; 
    height:190px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.cards-background img:hover {
    box-shadow: 3px 3px 3px grey;
    cursor:pointer;
}
.cards-background.startGame img:hover {
    box-shadow:none;
    cursor:default;
}

.card-toFlip.is-flipped.vibration {
    animation:vibration 0.4s ease-in-out;
    transform:rotateY(0deg);
}
.congratulations {
    z-index: 1013;
    position: absolute;
    top: 60%;
    left: 25%; 
    text-transform: uppercase;
    font-size: 6vw;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    animation:ease-in-out;
}
.cards-background.startGame {
    filter: brightness(0.5);
}

#startGame {
    font-size:2vw;
    color:white;
    background-color: #852100;
    border: #852100;
    border-radius: 5px;
    padding: 8px 13px;
    position: absolute;
    left: 44%;
    top: 55%;
    z-index: 1000;
    cursor:pointer;
}

@keyframes vibration {
    0%,
    100%{
        transform: translateX(0);
        -webkit-transform: translate3d(0, 0, 0);
    }
    20%{
        transform: translateX(-13px);
        -webkit-transform: translate3d(-13px, 0, 0);
    }
    40%{
        transform: translateX(13px);
        -webkit-transform: translate3d(13px, 0, 0);
    }
    60%{
        transform: translateX(-8px);
        -webkit-transform: translate3d(-8px, 0, 0);
    }
    80%{
        transform: translateX(8px);
        -webkit-transform: translate3d(8px, 0, 0);
    }
}

@media (min-width:992px) and (max-width:1199px){
    .headline {
        margin: 10vw 3vw 0vw;
    }
    .cards-background {
        justify-content: center;
        perspective: 1000px;
        display:flex;
        flex-wrap:wrap;
        margin: 13vw 2vw 2vw 2vw;  
    }
    .card-toFlip {
        width: 19%;
    }
    .card-toFlip .card-front {
        width:130px; 
        height:190px;
        left: 15%;
    }
    .card-toFlip .card-back {
        width:130px; 
        height:190px;
        position:static;
        margin-bottom: 11vw;
    }
    .congratulations{
       top: 50%;
    }
    #startGame {
        top: 50%;
    }
    
}

@media (min-width:768px) and (max-width:991px){
   
    .headline {
        margin: 10vw 3vw 0vw;
        font-size:7vw;
    }
    header p {
        margin:0.5vw;
    }
    .sub-text {
        font-size:3vw;
    }
    .cards-background {
        justify-content: center;
        perspective: 1000px;
        display:flex;
        flex-wrap:wrap;
        margin: 13vw 2vw;
        padding-bottom: 30vw; 
    }
    .card-toFlip {
        width:30%;
        transform-style: none;
    }
    .card-toFlip .card-front {
        width: 150px;
        height: 220px;
        left: 21%;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        backface-visibility:hidden;
        -webkit-backface-visibility: hidden;
    }
    .card-toFlip .card-back {
        width: 150px;
        height: 220px;
        position:static;
        margin-bottom: 11vw;
        backface-visibility:hidden;
        -webkit-backface-visibility: hidden;
    }
    .congratulations{
        top: 50%;
    }
    #startGame {
       font-size:5vw;
        padding: 10px 15px;
        left: 44%;
        top: 50%;
    }
    .card-toFlip.is-flipped.vibration {
        animation:none;
        transform:rotateY(0deg);
    }

}

@media (max-width:767px){
    .headline {
        margin: 10vw 3vw 0vw;
    }
    .sub-text {
        font-size:2vw;
    }
    .cards-background {
        justify-content: center;
        perspective: 1000px;
        display:flex;
        flex-wrap:wrap;
        margin: 13vw 2vw;
        padding-bottom: 30vw;
    }
    .card-toFlip {
        width:30%;
    }
    .card-toFlip .card-front {
        width: 150px;
        height: 220px;
        left: 16%;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        backface-visibility:hidden;
        -webkit-backface-visibility: hidden;
    }
    .card-toFlip .card-back {
        width: 150px;
        height: 220px;
        position:static;
        margin-bottom: 5vw;
        backface-visibility:hidden;
        -webkit-backface-visibility: hidden;
    }
    .congratulations{
        top: 50%;
    }
    #startGame {
        top: 50%;
        font-size:5vw;
        padding: 10px 15px;
        margin:auto 0;
    }
    .card-toFlip.is-flipped.vibration {
        animation:none;
        transform:rotateY(0deg);
    }

} 
