* {
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
body {
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}
header {
    color:#fff;
    text-align: center;
}
.headline {
    font-size:5vw;
    margin-top:5vw;
}
header p {
    padding-top:1vw;
}
.sub-text{
    font-size:1.5vw;
}

.cards-background {
    margin-top:6vw;  
    display:flex;
    flex-direction: row;
    justify-content: center;
    perspective: 1000px;
    position:relative;
}

.card-toFlip {
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    text-align: center;
    height:100%;
    width: 100%;
}

.card-toFlip .card-back {
    position: absolute;
    left: 3%;
    margin: 0vw 0.5vw;
    border-radius:0.5vw;
    width:130px; 
    height:190px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card-toFlip.is-flipped{
    transform:rotateY(180deg);
    animation:normal 0.5s ease;
}
.card-toFlip .card-front {
    position: absolute;
    border-radius:0.5vw;
    transform:rotateY(180deg);
    left: 3%;
    margin: 0vw 0.5vw;
    width:130px; 
    height:190px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.cards-background img:hover {
    box-shadow: 3px 3px 3px grey;
    cursor:pointer;
}

.card-toFlip.is-flipped.vibration {
    animation:vibration 0.4s ease-in-out;
    transform:rotateY(0deg);
}


@keyframes vibration {
    0%,
    100%{
        transform: translateX(0);
        -webkit-transform: translate3d(0, 0, 0);
    }
    20%{
        transform: translateX(-13px);
        -webkit-transform: translate3d(-13px, 0, 0);
    }
    40%{
        transform: translateX(13px);
        -webkit-transform: translate3d(13px, 0, 0);
    }
    60%{
        transform: translateX(-8px);
        -webkit-transform: translate3d(-8px, 0, 0);
    }
    80%{
        transform: translateX(8px);
        -webkit-transform: translate3d(8px, 0, 0);
    }
}

@media (min-width:992px) and (max-width:1199px){
    .headline {
        margin: 10vw 3vw 0vw;
    }
    .cards-background {
        justify-content: center;
        perspective: 1000px;
        display:flex;
        flex-wrap:wrap;
        margin: 13vw 2vw 2vw 2vw;    
    }
    .card-toFlip {
        width: 19%;
    }
    .card-toFlip .card-front {
        width:130px; 
        height:190px;
        left: 15%;
    }
    .card-toFlip .card-back {
        width:130px; 
        height:190px;
        position:static;
        margin-bottom: 11vw;
    }
}

@media (min-width:768px) and (max-width:991px){
   
    .headline {
        margin: 10vw 3vw 0vw;
        font-size:7vw;
    }
    header p {
        margin:0.5vw;
    }
    .sub-text {
        font-size:3vw;
    }
    .cards-background {
        justify-content: center;
        perspective: 1000px;
        display:flex;
        flex-wrap:wrap;
        margin: 13vw 2vw 2vw 2vw;    
    }
    .card-toFlip {
        width:30%;
    }
    .card-toFlip .card-front {
        width:130px; 
        height:190px;
        left: 25%;
    }
    .card-toFlip .card-back {
        width:130px; 
        height:190px;
        position:static;
        margin-bottom: 11vw;
    }
}

@media (max-width:767px){
    .headline {
        margin: 10vw 3vw 0vw;
    }
    .sub-text {
        font-size:2vw;
    }
    .cards-background {
        justify-content: center;
        perspective: 1000px;
        display:flex;
        flex-wrap:wrap;
        margin: 8vw 2vw 2vw 2vw;    
    }
    .card-toFlip {
        width:30%;
    }
    .card-toFlip .card-front {
        width:130px; 
        height:190px;
        left: 25%;
    }
    .card-toFlip .card-back {
        width:130px; 
        height:190px;
        position:static;
        margin-bottom: 5vw;
    }
} 